<%- include("../header") -%>

<h5>Edit the GoLink</h5>
<% if (error) { %>
  <p class="alert alert-danger"><%= error %></p>
<% } %>

<form action="/golinks/edit/<%= model.id %>" method="post">

  <div class="form-horizontal">

    <%- include("snippetEditor") -%>

    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-10">
        <input type="submit" value="Save" class="btn btn-sm btn-primary" />
        <a class="btn btn-sm btn-dark cancel" href="/golinks">Cancel</a>
        <a class="btn btn-sm btn-secondary" href="/golinks/go/<%= model.name %>">Go</a>
      </div>
    </div>

  </div>
</form>

<%- include("../footer") -%>
